@font-face {
    font-family: Bariol;
    src: url('../fonts/Bariol_Regular.otf');
}

@font-face {
    font-family: BariolThin;
    src: url('../fonts/Bariol_Thin.otf');
}

@font-face {
    font-family: Novecentowide;
    src: url('../fonts/Synthview - Novecentowide-Bold.otf');
}

body
{
    margin:0px;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0px;
    font-family: Bariol, Arials, sans-serif;
    -webkit-font-smoothing: antialiased;
}

body #ILYMT {width: 100%; height: 100%; position: relative; min-width: 320px;}

body #ILYMT header {width: 80%; margin: 0px auto; position: relative;padding-top: 20px;z-index: 10;}
body header a {display:block; float: none; position: absolute; top: 55px; left: 160px;}
body header a.about {background: url(../img/spritesheet_r2.png) no-repeat -144px 0px;height: 27px; width: 30px;}

body header a.about:hover {background-position-y: -27px;}


body #ILYMT {width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; }
body #ILYMT ul {margin: 0px; padding: 0px; width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; z-index: 5;}
body #ILYMT ul li {margin: 0px; padding: 0px;width: 100%; height: 100%; display: none; position: fixed;}
body #ILYMT ul li .slide {width: 100%; height: 100%; position: relative; margin: 0px; padding: 0px; overflow: auto; }
body #ILYMT ul li.active {display: block;}
body #ILYMT ul li .content {position: relative; overflow: visible;}
body #ILYMT ul li .content > p {font-family: Novecentowide, sans-serif; font-size: 42px; text-align: center; margin: 0px auto; width: 50%; color: #2f0310;}

body #ILYMT ul li#one,
body #ILYMT ul li#two,
body #ILYMT ul li#three {background: radial-gradient(ellipse at center,  #ffdcfd 0%,#ffc2fb 100%); /* W3C */}

body #ILYMT ul li#four, 
body #ILYMT ul li#five,
body #ILYMT ul li#six {background: radial-gradient(ellipse at center,  #d2f6fe 0%,#91e5f7 100%); /* W3C */}

body #ILYMT ul li#seven,
body #ILYMT ul li#eight,
body #ILYMT ul li#nine,
body #ILYMT ul li#ten {background: url(../img/woodpanel.jpg) no-repeat center center;}

body #ILYMT ul li#eleven,
body #ILYMT ul li#twelve,
body #ILYMT ul li#thirteen,
body #ILYMT ul li#fourteen,
body #ILYMT ul li#fifteen {background: radial-gradient(ellipse at center,  #d2f896 0%,#abe35b 100%); /* W3C */}

body #ILYMT ul li#nine {background: url(../img/wallpaper.jpg) repeat center center fixed;}
body #ILYMT ul li#nine span.absolute {font-family: Novecentowide, sans-serif;top: 130px; left: 210px; width: 100px; text-align: center; height: 20px; display:block; position:absolute;}

body #ILYMT ul li#four .frame,
body #ILYMT ul li#five .frame,
body #ILYMT ul li#six .frame {background:url('../img/frame.png') no-repeat; width: 429px; height: 326px; margin: 50px auto 0px auto;}

body #ILYMT ul li#eight .frame {background:url('../img/pancakes.png') no-repeat; background-size: cover; width: 400px; height: 395px; margin: 10px auto 0px auto; position: relative;}
body #ILYMT ul li#nine .frame {background: url('../img/frames.png') no-repeat center top;background-size: 100%; width: 500px; height: 400px; margin: 10px auto 0px auto; position: relative;}
body #ILYMT ul li#nine .frame img {display: block; position: relative;}
body #ILYMT ul li#nine .frame .one { left: 6%; top: 8%; }
body #ILYMT ul li#nine .frame .two {top: 23%; left: 5%;}
body #ILYMT ul li#nine .frame .three {top: 5%; left: 40%}
body #ILYMT ul li#nine .frame .four {top:-72%; left: 76%;}
body #ILYMT ul li#nine .frame .five {top: -59%; left: 77%;}

body #ILYMT ul li#thirteen .frame {background: url('../img/convobubble.png') no-repeat; background-size: 100%; width: 600px; height: 400px; position: relative; margin: 20px auto 0px auto;}
body #ILYMT ul li#thirteen .frame p {display: block; position: absolute; font-size: 18px;font-family: Novecentowide, sans-serif;color: #2f0310;}
body #ILYMT ul li#thirteen .frame p.one {top: 20px; left: 40px;}
body #ILYMT ul li#thirteen .frame p.two { top: 120px; left: 200px; }
body #ILYMT ul li#thirteen .frame p.three {top: 10px; left: 420px;}

body #ILYMT ul li#fifteen .content {text-align: center;}
body #ILYMT ul li#fifteen .content img {padding-top: 70px;}

body #ILYMT ul li#fifteen .content .share {width: 30%; margin: 0px auto; position: relative;}
body #ILYMT ul li#fifteen .content .share .social {display: block;width: 50%;float:left; text-align: center;}
body #ILYMT ul li#fifteen .content .share .create {display: block;width: 50%;float: left;text-align: center;}


body #ILYMT ul li#four .frame img,
body #ILYMT ul li#five .frame img,
body #ILYMT ul li#six .frame img {display: block; margin: 10px auto 0px auto; top: 20px; position: relative; outline: none; border: none;}

body #ILYMT ul li#eight .frame img {position: absolute; top: 150px; left: 140px;}

body footer {position: fixed; width: 100%; text-align:center; color: #fff; font-size: 17px;bottom: 0px; font-weight: 300; font-family: Bariol;text-shadow: 1px 1px 4px #999;z-index: 10;}
body footer p {margin: 0px;}

a.copy {background: url(../img/spritesheet_r2.png) no-repeat -375px 0px;height: 31px; width: 95px; margin-right: 30px;}
a.fb {background: url(../img/spritesheet_r2.png) no-repeat -248px 0px;height: 24px; width: 70px; display: inline-block;}
a.twitter {background: url(../img/spritesheet_r2.png) no-repeat -175px 0px; height: 24px; width: 70px;display: inline-block;}
a.createCard {width: 100px; height: 32px; background: url(../img/spritesheet_r2.png) no-repeat -470px 0px; border: none; display: inline-block; text-align: center; cursor: pointer;}


a.fb:hover,
a.twitter:hover {background-position-y: -24px;}
a.copy:hover {background-position-y: -31px;}
a.createCard:hover {background-position-y: -32px;}

body #about {background: rgba(0,0,0,.7);position: fixed; width: 100%; height: 100%; top: 0px; left: 0px; display: none;z-index: 9999;}
body #about .modal {background: #fff; padding: 40px; width: 600px; margin: 200px auto 0px auto; border-radius: 15px; position: relative;}
body #about .modal p {font-size: 21px; line-height: 150%; margin-bottom: 40px;color: #404040; position: relative; font-family: Bariol;}
body #about .modal img {margin: 0px auto; display: block;}
body #about .modal .content { padding-bottom: 50px;}
body #about .modal span {color: #ee1197; }
body #about .modal .close {width: 50px; height: 45px; background: url(../img/spritesheet_r2.png) no-repeat -320px 0px; top: -50px; right: -50px; position: absolute; cursor: pointer;}
body #about .modal .close:hover {background-position-y: -45px;}

